@keyframes intro {
  to {
    transform: translateX(8%);
    opacity: 0;
  }

  from {
    transform: none;
    opacity: 1;
  }
}

.layout {
  display: flex;
  flex-grow: 1;
  gap: 2rem;
  width: 100%;
}

.viewport {
  display: flex;
  flex-grow: 1;
  background: var(--color-light);
  border-radius: 1rem;
}

.job-errors {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 400px;
  animation-name: intro;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
  animation-delay: 100ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
}

@media screen and (width < 800px) {
  .layout {
    flex-direction: column;
  }

  .job-errors {
    max-width: none;
  }

  .viewport {
    height: 100%;
    min-height: 400px;
  }
}
