.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 1rem;
}

.toolbar-actions {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  column-gap: 1rem;
}

.toolbar-actions button {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  border-radius: 0.25rem;
}

.primary,
.secondary {
  width: auto;
  white-space: nowrap;
}

.primary {
  padding: 0.5rem 1rem;
  color: var(--color-light);
  background: var(--color-primary);
}

.primary:focus,
.primary:hover {
  background: var(--color-highlight);
}

.primary:active {
  background: var(--color-brand-1);
}

.secondary {
  padding: 0.5rem 0.25rem;
  color: var(--color-primary);
  background: transparent;
}

.secondary:focus,
.secondary:hover {
  color: var(--color-highlight);
}

.mobile-only {
  display: none;
}

@media screen and (width < 800px) {
  .primary,
  .secondary,
  .toolbar {
    font-size: 0.875rem;
  }

  .toolbar {
    padding: 0 1rem;
  }
}

@media screen and (width < 580px) {
  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }

  .primary,
  .secondary {
    padding: 0.25rem;
    font-size: 1rem;
  }

  .toolbar-actions {
    gap: 0.5rem;
  }
}
