.viewport-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  column-gap: 2rem;
}

.viewport-card {
  display: flex;
  background: var(--color-light);
  border-radius: 1rem;
}

.viewport-card.viewport {
  flex-grow: 1;
}

.error-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 400px;
}
