.container {
  padding: 1em 2em;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  column-gap: 0.5rem;
  list-style: none;
}

.delimiter {
  color: var(--color-off-dark);
}

.return-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  padding: 0;
  color: var(--color-dark);
  background: var(--color-background);
  border: none;
  border-radius: 2rem;
}

.return-button:focus,
.return-button:hover {
  color: var(--color-light);
  background: var(--color-highlight);
  outline: none;
}
