.job-errors {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

.title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
  font-size: 1.125rem;
}

.title .icon {
  color: var(--color-error);
}
