.job-details-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
  max-height: 166px;
  padding: 1rem;
  overflow-y: auto;
  background: var(--color-light);
  border-radius: 1rem;
}

@media screen and (width >= 640px) {
  .job-details-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: none;
  }
}

@media screen and (width >= 960px) {
  .job-details-panel {
    grid-template-columns: repeat(3, 1fr);
  }
}
